# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
.venv/
env/
ENV/

# Variáveis de ambiente
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Banco SQLite (caso utilize)
# ==========================
*.sqlite3
*.db

# ==========================
# Arquivos temporários
# ==========================
*.tmp
*.temp
